@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,600&display=swap');
.overlay-top {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
}

.overlay-middle {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: 'Dancing Script', cursive;    
    font-size: 40px;
}

.overlay-bottom {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;    
    font-size: 20px;
}

.overlay-middle-2 {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: 'Dancing Script', cursive;    
    font-size: 40px;
}

.overlay-bottom-2 {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: 'Lato', sans-serif;    
    font-size: 20px;
}

.overlay-star {
    position: absolute;
    top: 85%;
    left: 44%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;    
    font-size: 18px;
}

.overlay-star-end {
    position: absolute;
    top: 89%;
    left: 46%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: 'Noto Serif', serif;
    font-size: 30px;
}

.btn {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 100%;
    left: 50%;
    margin: 0 auto;
    width: 20%;
    min-height: 50px;
    border-radius: 6px;
    text-transform: uppercase;
}
img {
    width: 564px;
    height: 846px; 
}
.div {
    width: 564px;
    height: 846px;
}

.img-x {
    height: 420px;
    width: 220px;
    border-radius: 20%;
}