@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,600&display=swap');

.hero {
    position: relative;
    min-height: 100vh;
}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/1.jpg);
    z-index: -1;
}

.font-1 {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.font-2 {
    font-family: 'Dancing Script', cursive;   
    font-size: 2rem;
}

.font-3 {
    font-family: 'Lato', sans-serif; 
    font-size: 1.5rem;
}