@import url('https://fonts.googleapis.com/css2?family=Luxurious+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
.bx {
    width: 100vw auto;
    height: 100vh auto;
    overflow: auto;
    background-color: #001;
}

.my-dick, .my-dist, .my-luc {
    position: relative;
    max-width: 480px;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; /* Sama kan properti background-position di sini */
}
.my-dick {
    background-image: linear-gradient(to bottom, rgb(137, 137, 111) 10%, rgba(0, 0, 0, 0) 80%),
    linear-gradient(to bottom, rgba(0, 0, 0, 0) , rgba(0, 0, 0, 0)),
    linear-gradient(to bottom, rgba(0, 0, 0, 0) , rgba(0, 0, 0, 0)),
    url('img/2.jpg');
}

.my-dist {
    background-image: linear-gradient(to bottom, rgb(134, 179, 94) 10%, rgba(0, 0, 0, 0) 80%),
    linear-gradient(to bottom, rgba(0, 0, 0, 0) , rgba(0, 0, 0, 0)),
    linear-gradient(to bottom, rgba(0, 0, 0, 0) , rgba(0, 0, 0, 0)),
    url('img/3.jpg');
}

h1 {
    font-family: 'Luxurious Script', cursive;
    z-index: 1;
}

