.container,
.overly-1,
.overly-2 {
    overflow: hidden;
}

.bg-1 {
    background-image: url(img/1.jpg);
    min-height: 100vh;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

.bg-1::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    pointer-events: none; /* Memastikan elemen pseudo tidak mendapatkan interaksi mouse */
}

.bg-1 h1 {
    position: absolute;
    max-width: 550px;
    top: 80%;
    left: 50%;
    font-size: 1.5rem;
    transform: translate(-50%, -50%);
    color: white;
}
.bg-1 h2 {
    position: absolute;
    max-width: 550px;
    top: 85%;
    left: 50%;
    font-size: 1.5rem;
    transform: translate(-50%, -50%);
    color: white;
}


.bg-2 {
    min-height: 100vh;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-color: white;
}
.bg-2 h5 {
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 0.9rem;
}
.card {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: white;
    
}
.card-body {
    margin: 0;
    padding: 0;
}

.card-img-top {
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-color: white;
    border-radius: 20%;
    max-width: 240px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    background-color: white;
}