
  @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Roboto&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@300;500&display=swap');
  .bg {
    background-image: url(img/1.jpg);
    min-height: 100vh;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

.overly .container {
    overflow: hidden;
    display: flex;
}
.bg h1 {
    color: white;
    text-align: center;
    position: absolute;
    font-size: 1.2rem;
    max-width: 550px;
    text-align: center;
    text-transform: uppercase;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 12rem;
    font-family: 'Roboto', sans-serif;
}

.bg h2{
    color: white;
    text-align: center;
    position: absolute;
    font-size: 2rem;
    max-width: 550px;
    text-align: center;
    text-transform: uppercase;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 12rem;
    font-family: 'Just Another Hand', cursive;
}

.bg label{
    color: white;
    text-align: center;
    position: absolute;
    font-size: 1rem;
    max-width: 550px;
    text-align: center;
    text-transform: uppercase;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 12rem;
    font-family: 'Noto Serif', serif;
}

.bg .info{
    color: white;
    text-align: center;
    position: absolute;
    font-size: 1rem;
    max-width: 550px;
    text-align: center;
    text-transform: uppercase;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 12rem;
}
.bg .bpk{
    color: white;
    text-align: center;
    position: absolute;
    font-size: (16px + 1vw);    
    max-width: 550px;
    text-align: center;
    text-transform: uppercase;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 12rem;
}

.bg .btn {
    transform: translate(-50%, -50%);
    position: absolute;
    max-width: 550px;
    background-color: bisque;
    top: 65%;
    left: 50%;
    margin-top: 8rem;
    padding: 18px 40px;

    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;

}

.bg .btn:hover {
    background-color: white;
    color: aqua;
}

.bg a .bi {
    text-decoration: none;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
    font-size: 18px;

}

.bg a:hover {
    background-color: black;
    color: blue;
    transition: 0.3s all ease-in-out;
}


