* {
    margin: 0;
    padding: 0;
}

.bx {
    background-color: azure;
    width: 100vw;
    height: 100vh;
}

.my-div {
    position: relative;
    background-color: bisque;
    width: 480px;
    height: 100vh;
    overflow: hidden; 
}

h1 {
    position: absolute;
    right: 0;
}